<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <p>
        <a href="/">Game</a> | <a href="/profile">Profile</a> | <a href="/users">All users</a> | <a href="/logout">Logout</a>
    </p>

    <div class="margin-top-10 center-column">
        {% block content %}{% endblock content %}
    </div>
</body>
<footer class="footer-fixed">
    Images from: <a href="https://www.flaticon.com/free-icons/smile" title="smile icons">Smile icons created by Illosalz - Flaticon</a>
</footer>
</html>