{% extends "base.html" %}
{% block title %}Guess the number{% endblock title %}

{% block content %}
    <!--Head blocks-->

    {% if head == "main" %}
        {% if not user %}
                <h1>Welcome to Guess the number game! A thrilling game where you have to guess a number between 1 and 30!</h1>
                <h3>Do you have what it takes?</h3>
        {% else %}
                <h1>Oh, hi {{user.name.capitalize()}}.</h1>
                <h3>Guess a number between 1 and 30</h3>
        {% endif %}

    {% elif head == "success" %}
            <h1>Great success {{user.name.capitalize()}}!</h1>
            <h3>Try again if you're feeling brave.</h3>
    {% endif %}

    <!--login or game-->

    {% if not user %}
        <form method="post" action="/login" class="margin-top-10 center-column">
            <input type="text" name="user-name" placeholder="Enter your username">
            <input type="email" name="user-email" placeholder="Enter your e-mail">
            <input type="password" name="user-password" placeholder="Enter your password">
            <br>
            <button>Submit</button>
            {{password_check}}
        </form>

    {% else %}
        <div class="center-column">
            <img src="{{ image_src }}" class="width-icon">
            
            <div class="center-row">
                <form method="post" action="/" class="margin-top-10">
                    <label for="numberguess">Guess and press enter: </label>
                    <input type="number" id="numberguess" name="number-input" placeholder="Guess">
                </form>
            </div>
        </div>
    {% endif %}

    <!--Wrong guess responses-->

    {% if incorrect == True %}
            {% if wrong_guess_response == "higher" %}
                <p>Oh no, too low! Try going a higher!</p>
            {% elif wrong_guess_response == "lower" %}
                <p>Oh jeez, too high! Try going lower!</p>
            {% elif wrong_guess_response == "invalid" %}
                <p>Shoot, what did you do? That doesn't seem like a valid number!</p>
            {% endif %}
    {% endif %}
{% endblock content %}