{% extends "base.html" %}

{% block title %}Edit profile{% endblock title %}

{% block content %}
    <h3>Edit your profile</h3>

    <form method="post">
        <p>
            <strong>Your name:</strong>
            <input type="text" value="{{ user.name }}" name="profile-name"> <!--the value="" attribute in the <input> field shows current name and email-->
        </p>

        <p>
            <strong>Your email:</strong>
            <input type="email" value="{{ user.email }}" name="profile-email">
        </p>
        <br>
        <p class="center-column">
            <strong class="center-column">Password:</strong> <br>
            You MUST enter all three fields!
        </p>
        <p>
            <label>Old password: </label>
            <input type="password" name="profile-password-old"> <br>

            <label>New password: </label>
            <input type="password" name="profile-password-new-1"> <br>

            <label>New password (again): </label>
            <input type="password" name="profile-password-new-2">
        </p>
        <div class="center-column">
            <button>Submit</button>
        </div>
    </form>
{% endblock content %}